<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MongoServerSettings" connectionString="mongodb://localhost/MedicalRecordManagement" />
  </connectionStrings>
  <appSettings>
    <add key="SmtpClient" value="smtp.gmail.com" />
    <add key="MailFrom" value="aymanfcih@gmail.com" />
    <add key="MailPort" value="587" />
    <add key="MailPassword" value="Thesniper92" />
    <add key="EnableSsl" value="true" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.4.0" newVersion="3.3.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>